///////////////////////////////////////
// css theme variables / settings


$font-family:  "FoundersGroteskTextWeb-Regular",Helvetica,Arial,sans-serif;

$color-paper: #FBF7F3;
$color-electricpurple: #5F2FE1;
$color-deepindigo: #270066;


$link-color: $color-electricpurple;
$link-hover: $color-deepindigo;


