///////////////////////////////////////
// css theme variables / settings


$font-family: 'FoundersGroteskTextWeb-Regular',Helvetica,Arial,sans-serif;

$color-paper: #fbf7f3;
$color-electricpurple: #5f2fe1;
$color-deepindigo: #270066;


$link-color: $color-electricpurple;
$link-hover: $color-deepindigo;

