///////////////////////////////////////
// css theme variables / settings


$font-family: 'FoundersGroteskWeb',Helvetica,Arial,sans-serif;

$color-darkpurple: #1d0446;
$color-electricpurple: #5f2fe1;
$color-deepindigo: #270066;
$color-marigold: rgb(251, 157, 97);


$link-color: $color-electricpurple;
$link-hover: $color-deepindigo;

