/*
 *
 * INSTRUCTIONS
 *
 * Copy the Legal Disclaimer and the @font-faces statements to your regular CSS file.
 * The font file(s) should be placed relative to the regular CSS file.
 *
 */

/*
 * Legal Disclaimer for Web licence
 *
 * Licence to use self-hosted webfonts for displaying dynamic text on specified website domains. Our package includes WOFF and WOFF2 font formats.
 *
 * Should the license page views limit be exceeded the license holder will be required to contact Lineto.com for an upgrade.
 *
 * It is strictly prohibited to rename the font and to download or use these fonts in any other media.
 *
 * These Web fonts are licensed exclusively for the use on the following domain(s) and their subdomains:
 *
 * ten7.com (monthly pageviews: <50K)
 *
 */

@import 'settings';
@import '../../../node_modules/bulma/bulma.sass';
@import 'components/header';
@import 'components/footer';
@import 'components/article';

/* complete */

@font-face {
	font-family: 'ReplicaLLWeb-Bold';
	src: url('ReplicaLLWeb-Bold.woff') format('woff');
}

@font-face {
	font-family: 'ReplicaLLWeb-Bold';
	src: url('ReplicaLLWeb-Bold.woff2') format('woff2');
}


/* subset */

@font-face {
	font-family: 'ReplicaLLSub-Bold';
	src: url('ReplicaLLSub-Bold.woff') format('woff');
}

@font-face {
	font-family: 'ReplicaLLSub-Bold';
	src: url('ReplicaLLSub-Bold.woff2') format('woff2');
}

/* other fonts */

@font-face {
	font-family: 'FoundersGroteskWeb-Medium';
	src: url('/assets/fonts/founders-grotesk-web-medium.woff') format('woff');
}

@font-face {
	font-family: 'FoundersGroteskWeb-Medium';
	src: url('/assets/fonts/founders-grotesk-web-medium.woff2') format('woff2');
}

@font-face {
	font-family: 'FoundersGroteskTextWeb-Regular';
	src: url('/assets/fonts/founders-grotesk-text-web-regular.woff') format('woff');
}

@font-face {
	font-family: 'FoundersGroteskTextWeb-Regular';
	src: url('/assets/fonts/founders-grotesk-text-web-regular.woff2') format('woff2');
}

/*
 * css styles go here
 */

body {
	background-color: #fbf7f3;
	font-family: $font-family;
	font-size: 1.2rem;
}

a {
	color: $link-color;
	text-decoration: none;

	&:visited {
		color: $link-color;
		text-decoration: none;
	}

	&:hover,
	.navbar-item:hover {
		color: $link-hover;
		text-decoration: none;
	}
}
