.footer {
	background: $color-darkpurple;
	color: #fff;
	font-size: 0.9375rem;
	font-weight: normal;
	padding: 2rem;
	
	a,
	a:visited {
		color: $color-coral;
	}

	a:hover {
		color: $color-electricpurple;
	}
}

.ten7-link {
	align-items: center;
	display: inline-flex;
	
	svg {
		margin-right: 0.5rem;
	}
	
	span {
		color: #fff;
	}
}
