<!DOCTYPE html>
<html class="has-navbar-fixed-top">

{% include head.html %}

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N6K9NBR"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  
{% include header.html %}

<section class="section">
  <div class="container is-max-desktop">
    <div class="columns is-tablet">
      <div class="column is-2"></div>
      <div class="column is-8">
        <div class="content">
          {{ content }}
        </div>      
      </div>
      <div class="column is-2"></div>
    </div>  
  </div>
</section>

{% include footer.html %}

</body>
</html>
