---
layout: default
---
<section class="content column is-8">
  <article class="post">
    
    <div class="post-opener">
      <p>{{ page.opener | escape }}</p>
    </div>

    <header class="post-header">
      <h1 class="post-title">{{ page.title | escape }}</h1>
    </header>
  
    <div class="post-content">
      {{ content }}
    </div>
  
  </article>
  
  <div class="progress-bar">
    {%- if page.url == '/' %}
      {% assign is_read = false %}
    {% else %}
      {% assign is_read = true %}
    {% endif %}
    
    {% for item in site.pages %}
      {%- if item.url != '/404.html' and item.url != '/feed.xml' -%}
        <div class="progress-bar-section {% if is_read %}is-read{% endif %}"></div>
      {%- endif -%}
      {%- if page.url == item.url -%}
        {% assign is_read = false %}
      {%- endif -%}
    {% endfor %}
  </div>
</section>


<div class="pager column is-8">
    <div class="pager-previous">
      {% if page.previous.title %}
    <a href="{{ prev.url }}" class="pager-link" title="{{ prev.title }}">
      <span class="pager-arrow pager-arrow--left">
        <svg width="13" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 5.813H1M5.813 10.625 1 5.812 5.813 1" stroke="#6330F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
      </span>
      <span class="pager-content">
        <span class="pager-direction">Back:</span>
        <strong class="pager-title">{{ page.previous.title }}<strong>
      </span>
    </a>
  {% endif %}
    </div>
  
  {% if page.url == '/' %}
    {% assign next_title = "Let's Dive In!" %}
    {% assign next_url = site.pages.first.url %}
  {% elsif page.next.title %}
    {% assign next_title = page.next.title %}
    {% assign next_url = page.next.url %}
  {% endif %}

  <div class="pager-next">
    {% if next_title %}
    <a href="{{ next_url }}" class="pager-link" title="{{ next_title }}">
      <span class="pager-content">
        <span class="pager-direction">Next:</span>
        <strong class="pager-title">{{ next_title }}<strong>
      </span>
      <span class="pager-arrow pager-arrow--right">
        <svg width="13" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 5.813h11M7.188 1 12 5.813l-4.813 4.812" stroke="#6330F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
      </span>
    </a>
  {% endif %}
  </div>
  

</div>